<div id="modal-container" data-controller="modals">
  <%= turbo_frame_tag "modal" do %>
    <div class="modal" id="addClientModal">
      <div class="modal-content">
        <span class="close" onclick="document.getElementById('addClientModal').style.display='none'">&times;</span>
        <h1>Nouveau client</h1>
        <%= render "form", client: @client %>
      </div>
    </div>
  <% end %>
</div>

